body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 16px;
  line-height: 1;
  background: tan;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-weight: bolder;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 25px;
  margin: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-radius: 25px;
  font-weight: bold;
}

.past {
  background-color:rgb(136,56,45);
  color: white;
}

.present {
  background-color:rgb(173, 116, 96);
  color: white;
}

.future {
  background-color:rgb(249,227,203);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:rgb(214,163,84);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
